{% extends "base.html" %}

{% block title %}About - {% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-8">
  <h1>About</h1>
  <p>
    Trains are one most beautiful ways to explore world or simply get to work everyday.
    We belive that our app will make train usage even more exciting and fun.
  </p>
  <p>Our team is working to improve every flaw, countact as <a href="#mail">train@ttables.io</a></p>

  <blockquote>
  <p>
  Philip felt the hairs on the back of his neck stand up as he watched the forest draw nearer with every second.
  </p>
  <p>
  He looked up at the emergency brakes which had been pulled 30 seconds prior. "Bloody hell, emergency brakes aren't supposed to fail!" Phil thought to himself. The train did not seem to be slowing down. Phil and all the rest of his squad knew to steer clear of the forest. In the last decade, everyone that entered the forest had come out with severe memory loss: forgetting where they lived, who their family members were etc.
  </p>
  <p>
  Phil watched helplessly as the shadows of trees engulfed him. He knew he had gone down the correct route, yet somehow the train had led him to this area. The motion in his body started to move forward; the train was slowing down. "That's not right" Phil thought. Something was very wrong. The emergency brakes would've made a sound, but the train was slowing down without a peep. Phil looked out the window and saw only darkness amongst the trees.
  </p>
  <p>
  As the train came to a halt, Phil went to grab his torch, walking past the communication equipment that had given him nothing but silence for the past hour. He began to head for the door and froze. He could hear footsteps coming down the carriage. The carriage that was supposed to be empty. Phil could feel the sweat on his back go cold. He looked around for anything he could use as a weapon. No luck. CLACK, CLACK, CLACK! The footsteps behind him grew louder. He couldn't think, he could only stand there frozen in shock as whatever terror awaited him drew nearer.
  </p>
  <p>
  The footsteps made their way right next to the other side of the door. The door handle started turning and, without thinking, Phil pulled the door open. He screamed.
  </p>
  <p>
  Standing directly opposite Phil was someone who looked exactly like him. It was as if he were staring into a mirror reflection of himself. The stranger smiled at him "You may exit the train now". Phil suddenly felt a desperate urge to get off the train. He brushed past his doppelgänger and stepped down through the door of the carriage.
  </p>
  <p>
  He heard the train begin to depart as he walked into the forest's eternal darkness.
  </p>
  <cite><a href="https://www.reddit.com/r/WritingPrompts/comments/2rq8t2/wpyou_are_a_conductor_on_a_train_that_goes/cnigbek">/u/namis_boobs</a></cite>
  </blockquote>

  </div>

</div>

{% endblock %}