{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <form class="main-search-form form-inline">
      <div class="form-group">
        <label for="departure">From</label>
        <input type="text" class="form-control" id="departure" name="from_city"
          placeholder="Moscow" {% if from_city %}value="{{from_city}}"{% endif %} required>
      </div>
      <div class="form-group">
        <label for="destination">To</label>
        <input type="text" class="form-control" id="destination" name="to_city"
          placeholder="Saint-Petersburg" {% if to_city %}value="{{to_city}}"{% endif %} required>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" {% if train_date %}value="{{train_date |date:"Y-m-d"}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">Show Trains</button>
    </form>
  </div>
</div>

{% if is_search %}
<div class="row">
  <div class="col-md-12">
    <h2>{{train_count}} trains from {{from_city}} to {{to_city}}{% if train_date %} on {{train_date}}{% endif %}:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Train</th>
          <th>Travel Time</th>
          <th>Departing</th>
          <th>Arriving</th>
        </tr>
      </thead>
      <tbody>
      {% for tr in searched_trains %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'train' tr.id %}?from_city={{from_city}}&to_city={{to_city}}">{{tr}}</a></td>
        <td>{{tr.traveltime}} hours</td>
        <td>{{tr.st_dep_time}}</td>
        <td>{{tr.st_arr_time}}</td>
      </tr>
      {% empty %}
      <tr>
        <th scope="row">&#8734;</th>
        <td>No trains found</td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if not is_search %}
<div class="row">

  <div class="col-md-6">
    <h2>Trains:</h2>
    <ul>
    {% for tr in trains %}
    <li><a href="{% url 'train' tr.id %}">{{tr}}</a></li>
    {% empty %}
    <li>There is not any train.</li>
    {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Stations:</h2>
    <ul>
    {% for c in cities %}
    {% if c.station_set.all|length > 1 %}
      <li>
      <i>{{c.name}}</i>
      <ul>
      {% for st in c.station_set.all %}
        <li><a href="{% url 'station' st.id %}">{{st.name}}</a></li>
      {% endfor %}
      </ul>
      </li>
    {% else %}
      {% for st in c.station_set.all %}
      <li><a href="{% url 'station' st.id %}">{{c.name}} / {{st.name}}</a></li>
      {% endfor %}
    {% endif %}
    {% empty %}
      <li>There is not any cities.</li>
    {% endfor %}
    </ul>
  </div>

</div>
{% endif %}
{% endblock %}


{% block js %}
<script>
$(function() {
  $("#departure, #destination").autocomplete({
    source: "/api/get_cities/",
    minLength: 2,
  });
});
</script>
{% endblock %}